h1 {
	font-family: 'Noto Serif TC', serif;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: 'Noto Sans TC', sans-serif;
}

p,
a,
span,
li,
label {
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

#latest img {
	border-radius: 30px;
}

#latest .survey img {
	/* height: 350px; */
	border-radius: 30px;
}

#singlecontent2 img {
	height: 250px;
	border-radius: 20px;
}

nav li {
	margin: 0 13px;
}

.task-margin {
	margin: 40px 20px;
}

#intro .jumbotron {
	background: url('../picture/tea.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	height: 70vh;
	margin-bottom: 0px;
}

#intro .jumbotron .container {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}

#intro .btn {
	margin-top: 20px;
}

#intro h1 {
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;

}

.returntag:hover {
	opacity: 0.8;
	color: #164863;
	text-decoration: none;
}

.btn {
	background-color: #1e717f;
	padding: 8px 20px;
	border-radius: 20px;
	border: none;
	font-weight: 800;
}

.btn_pass {
	background-color: #F24C3D;
	padding: 8px 20px;
	border-radius: 20px;
	border: none;
	font-weight: 800;
}

.btn_pass:hover {
	opacity: 0.8;
	background-color: #F24C3D !important;
}

.btn_add {
	background-color: #86A789;
	padding: 8px 20px;
	border-radius: 20px;
	border: none;
	font-weight: 800;
}

.btn_add:hover {
	opacity: 0.8;
	background-color: #86A789 !important;
}

.btn:hover {
	opacity: 0.8;
	background-color: #1e717f !important;
}

#second {
	padding: 80px 0px;
}

#second h3 {
	margin-bottom: 70px;
	font-size: 32px;
}

#second img {
	border-radius: 100%;
	width: 108px;
}

#second h5 {
	margin-top: 22px;
	font-size: 16px;
}

.box-margin {
	margin-top: 50px;
}

p {
	font-size: 16px;
	line-height: 26px;
	color: #707070;
}

p.lead {
	color: white;
	line-height: 31px;
	font-weight: 600;
	text-shadow: black 0.1em 0.1em 0.2em;
}

#latest {
	background: rgb(248, 248, 248);
	padding: 40px 0px;
}

#latest .big-title {
	margin-bottom: 50px;
}

#latest .outer {
	border-radius: 30px;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
	padding: 0px;
	margin: 0 5px;
	background-color: white;
}

#latest .upper {
	position: relative;
}

#latest .innertext {
	position: absolute;
	top: 20px;
	left: 30px;
}

.innertext2 {
	position: absolute;
	right: 250px;
	top: 3px;
}

.innertext3 {
	position: absolute;
	right: 89px;
	top: 3px;
}

#latest h4 {
	font-size: 19px;
	margin-top: 18px;
}

#latest .lower {
	padding: 40px 0px;
}

#latest .col-md-4 .outer {
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
	padding: 0px;
	margin: 0 5px;
}

#latest h3 {
	font-size: 24px;
}

#latest a {
	color: black;
	text-decoration: none;
}

#latest i {
	margin-right: 5px;
}

#latest h5 {
	margin: 5px;
}

.farmertag {
	color: #4F6F52;
	font-size: 20px;
	border: 3px solid #4F6F52;
	padding: 4px 13px;
	border-radius: 10px;
	display: inline-block;
	margin-left: 7px;
	background: rgba(255, 255, 255, 0.7);
	font-weight: 900;
	margin-top: 20px;
}

.viewTag {
	color: #4F6F52;
	font-size: 20px;
	border: 3px solid #4F6F52;
	padding: 4px 13px;
	border-radius: 10px;
	display: inline-block;
	margin-left: 7px;
	background: rgba(255, 255, 255, 0.7);
	font-weight: 900;
	margin-top: 20px;
}

.viewTag2 {
	color: #427D9D;
	font-size: 20px;
	border: 3px solid #427D9D;
	padding: 4px 13px;
	border-radius: 10px;
	display: inline-block;
	margin-left: 7px;
	background: rgba(255, 255, 255, 0.7);
	font-weight: 900;
	margin-top: 20px;
}

.thetag {
	color: #164863;
	font-size: 20px;
	border: 3px solid #164863;
	padding: 4px 13px;
	border-radius: 20px;
	display: inline-block;
	margin-left: 7px;
	background: rgba(255, 255, 255, 0.7);
	font-weight: 900;
}

.thetag2 {
	color: #3D3B40;
	font-size: 20px;
	border: 3px solid #3D3B40;
	padding: 4px 13px;
	border-radius: 10px;
	display: inline-block;
	margin-left: 7px;
	background: rgba(255, 255, 255, 0.7);
	font-weight: 900;
}

.thetag3 {
	color: #0F1035;
	font-size: 20px;
	padding: 4px 13px;
	border-radius: 10px;
	display: inline-block;
	margin-left: 7px;
	margin-top: 20px;
	background: rgba(255, 255, 255, 0.7);
	font-weight: 400;
}

.passed-tag {
	color: #EE7214;
	font-size: 20px;
	border: 3px solid #EE7214;
	padding: 4px 13px;
	border-radius: 20px;
	display: inline-block;
	margin-left: 7px;
	background: rgba(255, 255, 255, 0.7);
	font-weight: 900;
}

.noreview-tag {
	color: #79155B;
	font-size: 20px;
	border: 3px solid #79155B;
	padding: 4px 13px;
	border-radius: 20px;
	display: inline-block;
	margin-left: 7px;
	background: rgba(255, 255, 255, 0.7);
	font-weight: 900;
}

.nopass-tag {
	color: #FE0000;
	font-size: 20px;
	border: 3px solid #FE0000;
	padding: 4px 13px;
	border-radius: 20px;
	display: inline-block;
	margin-left: 7px;
	background: rgba(255, 255, 255, 0.7);
	font-weight: 900;
}

.edit-tag {
	color: #B4B4B3;
	font-size: 16px;
	border: 2px solid #B4B4B3;
	padding: 4px 13px;
	border-radius: 20px;
	display: inline-block;
	margin-left: 7px;
	background: rgba(255, 255, 255, 0.6);
	font-weight: 700;
}

.innertext4 {
	position: absolute;
	top: 10px;
	left: 620px;
	text-decoration: none;
}

.innertext4 a:hover {
	text-decoration: none;
	color: #9DB2BF;
}

.fill-color {
	fill: white;

}

#email {
	padding: 80px 0px
}

#email p {
	margin-top: 40px;
}

#email .btn {
	margin-top: 10px;
	font-size: 16px;
}

hr {
	border: solid 1px gray;
}

footer {
	border-top: 1px solid rgba(0, 0, 0, 0.09);
}


footer ul {
	list-style: none;
	padding: 0;
	margin-right: 15px;
}

footer ul a {
	color: #707070;
	font-size: 18px;
}

footer a {
	color: #1e717f;
}

footer a:hover {
	color: #1e717f;
}

footer ul a:hover {
	color: #707070;
	text-decoration: none;
	opacity: 0.8;
}

footer ul li {
	margin-bottom: 10px;
}

div.footer {
	background-color: #4F6F52;
}

div.footer p {
	color: white;
}

footer p {
	color: black;
	font-size: 20px;
}

footer h4 {
	color: #404F23;
	font-size: 25px;
	padding-top: 10px;
	letter-spacing: 10px;
	margin-bottom: 20px;
}

.card-header .btn,
.card-header .btn:hover {
	background: none !important;
	color: black;
}

#intro .jumbotron.jumbotron2 {
	height: 400px;
}

#singlecontent {
	padding: 80px 0px;
}

#singlecontent2 {
	padding: 30px 0px;
	background: rgb(248, 248, 248);
}

#singlecontent h4 {
	margin-top: 50px;
}

#singlecontent h5 {
	letter-spacing: 6px;
	font-weight: 600;
}

.apply {
	background-color: #f9f9f9;
	padding: 44px;
}

.apply .btn {
	font-size: 16px;
	margin-top: 31px;
	width: 100%;
}

.applybelow {
	margin-top: 80px;
	text-align: center;
}

.btn2 {
	color: #707070;
	border: 1px solid #707070;
	padding: 10px 24px;
	border-radius: 20px;
	margin-top: 3px;
	display: inline-block;
}

.btn2:hover {
	text-decoration: none;
	opacity: 0.8;
	color: #707070;
}

#intro .contact {
	height: auto;
	padding: 0px;
}

#intro .contact .col-md-4 {
	height: 400px;
	background: rgba(0, 0, 0, 0.5);
	padding: 66px;
	text-align: center;
}

#intro .contact .col-md-4 h1 {
	color: white;
}

#intro .contact .col-md-4 p {
	color: white;
}

#intro .contact .col-md-4 hr {
	color: white;
	border-top: 2px solid #1e717f;
	width: 87px;
	margin-top: 24px;
	margin-bottom: 26px;
}

.cinner {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}

#contactcontent {
	padding: 80px 0px;
}

#contactcontent h3 {
	margin-bottom: 40px;
}

#contactcontent a {
	color: #1e717f;
}

#contactcontent a.btn {
	color: white;
}

#contactcontent textarea {
	height: 200px;
	margin-bottom: 10px;
}

#contactcontent i {
	display: inline-block;
	margin-right: 4px;
}

.listing-features {
	margin-top: 0px;
	padding: 20px;
	background: #f2f2f2;
	color: #888;
}

.lastdate {
	padding: 10px 20px;
	color: #888;
}

.btn.btnnew {
	font-weight: 800;
	border: 2px solid #D55917;
	background: #D55917;
	color: white;
}

.btn.btnnew:hover {
	border: 2px solid #D55917;
	background: #D55917 !important;
	color: white;
	opacity: 0.8;
	transition: 0.7s ease all;
}

.someright {
	margin-right: 5px;
}

.mb30 {
	margin-bottom: 30px;
}

.articles .col-md-4 {
	margin-bottom: 60px;
}

.pagination li {
	margin: 0px;
}

.thepage {
	width: 253px;
	margin: 0 auto;
}

i.category {
	margin-bottom: 10px;
	display: block;
}

.font24 {
	font-size: 24px !important;
}

.mt20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

#sorting {
	width: 250px;
	margin-bottom: 60px;
	text-align: right;
	position: absolute;
	right: 20px;
}

.sortingwrapper {
	position: relative;
	margin-bottom: 60px;
}

#searching {
	text-align: center;
}

#searching input {
	border-radius: 20px;
}

#searching svg {
	position: relative;
	bottom: 33px;
	left: 230px;
	width: 28px;
}

#searching2 {
	text-align: center;
}

#searching2 input {
	border-radius: 20px;
}

#searching2 svg {
	position: relative;
	bottom: 33px;
	left: 230px;
	width: 28px;
}

.loginform {
	padding-top: 50px;
	padding-bottom: 50px;
	background: rgb(248, 248, 248);
}

.loginform-outer {
	background: rgb(248, 248, 248);
}

.login-main {
	position: relative;
	width: 400px;
	/* 圆角效果 */
	border-radius: 50px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	/* 阴影效果 */
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090, direction=120, strength=4);
	-moz-box-shadow: 2px 2px 10px #909090;
	-webkit-box-shadow: 2px 2px 10px #909090;
	box-shadow: 2px 2px 10px #909090;
	background-color: white;
}

.loginform h2 {
	margin: 50px;
}

.loginform .btn {
	margin-top: 30px;
	margin-bottom: 30px;
}

.loginform .alert {
	margin-bottom: 50px;
}



.dashboard main {
	padding-top: 50px;
	padding-bottom: 100px;
	padding-left: 30px;
	padding-right: 30px;
	min-height: 100vh;
	background: #f7f7f7;
}

.dashboard main h3 {
	margin-bottom: 30px;
}

#sidebarMenu {
	background: #2a2a2a;
	padding-top: 30px;
}

.sidebar-sticky a {
	color: white
}

#sidebarMenu path {
	fill: white;

}

#sidebarMenu svg {
	margin-right: 10px;
}

#sidebarMenu .nav li {
	margin-bottom: 11px;
}

.dashboard .btn3,
.dashboard .btn3:hover {
	margin-left: 10px;
	color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 0.8rem;
	padding-left: 0.8rem;
}



thead th:first-child,
tbody td:first-child {
	width: 2em;
}

thead th:nth-child(10),
tbody td:nth-child(10) {
	width: 13em;
}

thead th:last-child,
tbody td:last-child {
	width: 20%;
}

@media only screen and (max-width: 768px) {
	#intro h1 {
		font-size: 23px;
	}

	#second h5 {
		margin-bottom: 50px;
	}

	#latest .col-bottom {
		margin-bottom: 60px;
	}

	#latest h2 {
		font-size: 22px;
	}

	.mtml {
		margin-top: 22px;
		margin-left: 82px;
	}

	footer h4 {
		font-size: 25px;
		margin-top: 30px;
		margin-bottom: 18px;
	}

	footer p {
		font-size: 15px;
	}

	.innertext2 {
		position: absolute;
		right: 10px;
		top: 3px;
	}

	#table h3 {
		margin-top: 35px;
		font-size: 16px;
	}

	#table {
		overflow-x: auto;
		white-space: nowrap;
		/* 自適應X軸 */
	}

	#searching {
		width: 350px;
	}

	#searching svg {
		left: 91px;
		width: 21px;
	}

	#searching2 {
		width: 350px;
	}

	#searching2 svg {
		left: 122px;
		width: 21px;
	}

	.innertext3 {
		position: absolute;
		right: 80px;
		top: 3px;
	}

	#singlecontent2 h2 {
		font-size: 26px;
	}

	#singlecontent2 .passed-tag {
		color: #EE7214;
		font-size: 20px;
		border: 3px solid #EE7214;
		padding: 4px 13px;
		border-radius: 20px;
		display: inline-block;
		margin-left: 7px;
		background: rgba(255, 255, 255, 0.7);
		font-weight: 900;
	}

	.schedule {
		margin: 20px;
	}

	.login-main {
		width: 320px;
	}

	.innertext4 {
		position: absolute;
		top: 10px;
		left: 245px;
	}

	.small-mb {
		margin-bottom: 50px;
	}
}